{
    "env": {
        "node": true,
        "browser": true,
        "commonjs": true
    },
    "extends": "eslint:recommended",
    // 0 = off, 1 = warn, 2 = err
    "rules": {
        "array-bracket-spacing": [2, "never"],
        "block-scoped-var": 2,
        "brace-style": 2,
        "callback-return": [2, ["callback", "cb", "next"]],
        "comma-dangle": [2, "never"],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "complexity": [1, 6],
        "computed-property-spacing": [2, "never"],
        "consistent-return": 2,
        "consistent-this": [2, "self"],
        "curly": [2, "all"],
        "default-case": 2,
        "dot-location": [2, "property"],
        "dot-notation": [2, {"allowKeywords": true, "allowPattern": ""}],
        "eqeqeq": [2, "smart"],
        "eol-last": 2,
        "func-names": 2,
        "func-style": [2, "declaration"],
        "global-require": 2,
        "guard-for-in": 2,
        "handle-callback-err": [2, "^.*(e|E)rr" ],
        "indent": [2, 4, {"SwitchCase": 1}],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "linebreak-style": [2, "unix"],
        "lines-around-comment": [2, { "beforeBlockComment": true, "allowBlockStart": true }],
        "max-depth": [2, 5],
        "max-nested-callbacks": [2, 5],
        "max-len": [2, 80, 8, {"ignoreUrls": true}],
        "new-parens": 2,
        "newline-after-var": [2, "always"],
        "no-array-constructor": 2,
        "no-case-declarations": 2,
        "no-cond-assign": [2, "always"],
        "no-console": 1,
        "no-constant-condition": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-else-return": 2,
        "no-empty": 2,
        "no-empty-pattern": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native":2,
        "no-extra-bind": 2,
        "no-extra-semi": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 2,
        "no-inner-declarations": 2,
        "no-irregular-whitespace": 2,
        "no-labels": 2,
        "no-label-var": 2,
        "no-loop-func": 2,
        "no-lone-blocks": 2,
        "no-lonely-if": 2,
        "no-magic-numbers": [2, {ignore: [-1, 0, 1]}],
        "no-mixed-requires": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-multi-spaces": [2, { exceptions: { "Property": false } }],
        "no-multiple-empty-lines": [2, {"max": 2}],
        "no-multi-str": 2,
        "no-negated-condition": 2,
        "no-nested-ternary": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-new-object": 2,
        "no-new-require": 2,
        "no-new-wrappers": 2,
        "no-param-reassign": 2,
        "no-proto": 2,
        "no-return-assign": [2, "always"],
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-spaced-func": 2,
        "no-throw-literal": 2,
        "no-trailing-spaces": 2,
        "no-undef-init": 2,
        "no-undefined": 2,
        "no-unneeded-ternary": 2,
        "no-unused-expressions": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 2,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-warning-comments": [1, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
        "no-with": 2,
        "object-curly-spacing": [2, "never"],
        "one-var": [2, "never"],
        "operator-linebreak": [2, "before"],
        "padded-blocks": [2, "never"],
        "radix": 2,
        "quote-props": [2, "as-needed"],
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "semi-spacing": 2,
        "sort-vars": [2, {"ignoreCase": true}],
        "keyword-spacing": [2, {"after": true, "before": true}],
        "space-before-blocks": 2,
        "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
        "space-in-parens": [2, "never"],
        "space-infix-ops": 2,
        "space-unary-ops": 2,
        "spaced-comment": [2, "always"],
        "vars-on-top": 2,
        "wrap-iife": [2, "inside"],
        "wrap-regex": 2
    }
}
